.form__basket{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}

@media screen and (min-width: 800px) {
    .form__basket{
        max-width: 1000px;
        margin: auto;
    }
    
    .phone__basket {
        display: flex;
        justify-content: space-between;
    }
    .item__desc{
        padding: 1rem;
        flex:0 1 calc(100% / 2);
    }
    .icon__delete{
        font-size: 2rem;
        cursor: pointer;
        color: red;
    }
    .item__choice{
        display: flex;
        align-items: center;
        gap:1.5rem;
    }

}