header{
    background-color: lightgray;
}
.container__header{
    display: flex;
    justify-content: space-around;
    max-width: 1900px;
    padding: 0.5rem;
    align-items: center;
    margin:auto;
}
.container__icons{
    display: flex;
    gap:1rem;
}
.header__link{
    text-decoration: none;
    color: rgb(21, 20, 20);
}
.icons_header{
    font-size: 1.5rem;
    cursor: pointer;
}
.container__count{
    display:inline;
    position: relative;
}
.count__basket{
    background: #0031f3;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
    position: absolute;
    right: -0.6rem;
    text-align: center;
    top:-1rem;
    width: 1.2rem;
}

@media screen and (min-width: 800px){
    .icons_header{
        font-size: 2rem;
    }
}