header{
    background-color: lightgray;
}
.container__header{
    display: flex;
    justify-content: space-around;
    max-width: 1900px;
    padding: 0.5rem;
    align-items: center;
    margin:auto;
}
.container__icons{
    display: flex;
    gap:1rem;
}
.header__link{
    text-decoration: none;
}
.icons_header{
    font-size: 1.5rem;
    cursor: pointer;
}

