.container__show{
    padding:0.5rem;
}
.product__description{
    padding: 1rem;
}

#quantity{
    margin:1rem;
}
.product__img > img{
    width: 100%;
    max-width: 600px;
}

@media screen and (min-width: 800px){
    .product__card{
        max-width:1000px;
        margin: auto;
    }
    .product__body{
        display:flex;
        justify-content: space-between;
    }
    
}