.container {
}

.list__phone {
    border-top: 1px solid #dcdcdc;
}

.item {
    display: flex;
    max-width: 600px;
    margin:2rem auto;
    border-bottom: 1px solid #dcdcdc;
}

.item__img {
    max-width: 50%;
}

.item__content {}

.item__title {}

.item__description {}

.item__price > span {
    display: block;
}

.item__promo--percent {
    background: #f4511d;
    border-radius: 50%;
    color: #fff;
    float: right;
    font-size: 1rem;
    font-weight: 700;
    height:2.5rem;
    line-height: 2.5rem;
    position: relative;
    text-align: center;
    top: -1px;
    width: 2.5rem;
}

.item__price--old {
    color: #999;
    text-decoration: line-through;
}

.item__price--new {}


@media screen and (min-width: 768px)  {
    .list__phone {
        display: flex;
        flex-wrap: wrap;
    }
}